@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nluf8c');
  src:  url('../fonts/icomoon.eot?nluf8c#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nluf8c') format('truetype'),
    url('../fonts/icomoon.woff?nluf8c') format('woff'),
    url('../fonts/icomoon.svg?nluf8c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="im-"], [class*=" im-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.im-waveform:before {
  content: "\e912";
}
.im-zoom:before {
  content: "\e911";
}
.im-guitar2:before {
  content: "\e90f";
}
.im-note:before {
  content: "\e910";
}
.im-paper-stack:before {
  content: "\e90e";
}
.im-product-page-clock:before {
  content: "\e907";
}
.im-product-page-cloud:before {
  content: "\e908";
}
.im-product-page-controls:before {
  content: "\e909";
}
.im-product-page-ear:before {
  content: "\e90a";
}
.im-product-page-note:before {
  content: "\e90b";
}
.im-product-page-play:before {
  content: "\e90c";
}
.im-product-page-star:before {
  content: "\e90d";
}
.im-file-pdf-o:before {
  content: "\e906";
}
.im-guitar:before {
  content: "\e905";
}
.im-user:before {
  content: "\e904";
}
.im-paper:before {
  content: "\e903";
}
.im-cog:before {
  content: "\e902";
}
.im-star:before {
  content: "\e900";
}
.im-star-light:before {
  content: "\e901";
}
.im-arrow-left:before {
  content: "\e60a";
}
.im-home:before {
  content: "\e609";
}
.im-remove:before {
  content: "\e608";
}
.im-cloud:before {
  content: "\e605";
}
.im-arrow-down:before {
  content: "\e601";
}
.im-arrow-up:before {
  content: "\e603";
}
.im-pencil:before {
  content: "\e606";
}
.im-flag:before {
  content: "\e602";
}
.im-layers:before {
  content: "\e604";
}
.im-menu-dots:before {
  content: "\e600";
}

